.login{
    height: 300px;
    width: 300px;
}

.button{
    width: 100%;
}

.textBox{
    width: 100%;
}

.title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
}